node_modules
package-lock.json
server
.DS_Store
.vscode

# DO NOT REMOVE THESE FOR SECURITY
src/config.js
.env

# web

# dependencies
web/node_modules
web/.pnp
web/.pnp.js

# testing
web/coverage

# next.js
web/.next/
web/out/

# production
web/build

# misc
web/.DS_Store
web/*.pem

# debug
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

# local env files
web/.env*.local
web/.env

# vercel
web/.vercel

# typescript
web/*.tsbuildinfo
web/next-env.d.ts
